@font-face {
	font-family: 'Bazar';
	src: url('../fonts/bazar-webfont.eot');
	src: url('../fonts/bazar-webfont.eot?iefix') format('eot'),
		url('../fonts/bazar-webfont.woff') format('woff'),
		url('../fonts/bazar-webfont.ttf') format('truetype'),
		url('../fonts/bazar-webfont.svg#webfontHB6mZtPd') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Goudy Bookletter';
	src: url('../fonts/GoudyBookletter1911.eot');
	src: local('☺'), url('../fonts/GoudyBookletter1911.woff') format('woff'),
		url('../fonts/GoudyBookletter1911.ttf') format('truetype'),
		url('../fonts/GoudyBookletter1911.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Goudy Bookletter', Helvetica, Arial, sans-serif;
}
a, a:visited {
	color: #E70000;
	text-decoration: none;
}
p {
	color: #422D37;
	padding-bottom: 10px;
}
p.main-text {
	font-size: 18px;
	padding-bottom: 0;
}
h1, h2 {
	display: inline;
}
h1 {
	font-family: "Bazar";
	font-size: 42px;
	text-shadow: 2px 2px 1px #fff;
}
h2 {
	vertical-align: bottom;
	margin-left: 20px;
	font-size: 24px;
	color: #696969;
	text-shadow: 2px 2px 2px #fff;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}