/*
Color palette: http://www.colorhunter.com/palette/739677
*/

@import "_base";

.hr {
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
	width: 100%;
}
.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.right {
	text-align: right;
}

body, html {
	overflow-x: hidden;
	width: 100%;
}
body {
	background-color: #FFFFDE;
	background-image: url(../images/stripe.png);
	background-repeat: no-repeat;
	background-position: top left;
	font-family: "goudy-bookletter-1911", Helvetica, Arial, serif;
}

h1, h2 {
	display: inline;
}
h1 {
	color: #000;
	font-family: "mostra-nuova", sans-serif;
	font-size: 42px;
	font-weight: 700;
	margin-left: -12px;
	text-shadow: 2px 2px 1px #fff;
}
h2 {
	vertical-align: bottom;
	margin-left: 20px;
	font-size: 24px;
	color: #696969;
	text-shadow: 2px 2px 2px #fff;
}
h3 {
	font-size: 22px;
}
a, a:visited, a:hover {
	color: #E70000;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
p {
	color: #422D37;
	font-size: 18px;
	padding-bottom: 10px;
	small {
		font-size: 16px;
	}
}

.container {
	margin: 40px auto;
}
.main {
	background-color: #fff;
	box-shadow: 0 0 2px 2px #ccc;
	margin-top: -5px;
	padding: 20px;
	li {
		font-size: 16px;
	}
}
.nav {
	ul {
		margin: 0;
		text-align: center;
		vertical-align: middle;
		li {
			display: inline;
			list-style: none;
			padding: 10px;
			vertical-align: middle;
		}
	}
	select {
		display: none;
	}
	a {
		color: #26c1b6;
		font-size: 20px;
		&:hover {
			color: #ff8500;
			text-decoration: none;
		}
	}
}
.profile {
	display: block;
	margin: 0 auto;
}
.home {
	padding-top: 10px;
	.span4 {
		border-right: 1px solid #ccc;
		margin: 5px 0.9%;
		&:last-child {
			border-right: none;
		}
		p {
			padding-bottom: 10px;
		}
	}
	li {
		font-size: 14px;
	}
	h3 {
		color: #FF8500;
		font-size: 20px;
		text-align: center;
	}
	h4 {
		a {
			color: #422D37;
		}
	}
	ul {
		margin: 10px 0 0 10px;
		li {
			padding-bottom: 5px;
		}
	}
}

.skills{
	margin-bottom: 10px;
	margin-left: 20px;
	li {
		float: left;
		padding: 5px 20px 5px 5px;
		width: 150px;
		&:nth-child(odd){
			clear: left;
		}
	}
}

#music {
	h4 {
		line-height: 8px;
	}
}

@media screen and (max-width:768px){
	.hide-small {
		display: none;
	}
	body {
		background-position-x: -100px;
	}
	.container {
		margin: 20px auto;
	}
	h1 {
		display: block;
		font-size: 30px;
		margin-left: 0;
		margin-bottom: 0;
	}
	h2 {
		display: block;
		margin-left: 0px;
		font-size: 20px;
	}
	h4 {
		small {
			display: block;
			margin-top: 10px;
		}
	}
	.nav {
		ul{
			display: none;
		}
		select {
			display: block;
			width: 100%;
		}
	}
	.content{
		padding: 10px;
		ul {
			text-align: center;
		}
	}
	.home {
		.span4 {
			border-right: none;
			h3 {
				border-bottom: 1px solid #ccc;
			}
		}
	}
	#music {
		h3, p {
			text-align: center;
		}
	}
	.dsq-brlink {
		display: none;
	}
}

@media screen and (max-width:400px){
	body {
		background-position-x: -150px;
	}
	h2{
		font-size: 18px;
	}
}

* {
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}