@import "_base";

$footer-height: 90px;

html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  overflow: auto;
  padding-bottom: $footer-height;
}

/* Space out content a bit */
body {
  padding-top: 20px;
}

img {
  max-width: 100%;
}

/* Make the masthead heading the same height as the navigation */
.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.nav {
  display: table;
  margin: 0 auto;

  & > li > a {
    color: $text-color;
    &:hover, &:focus {
      background-color: #fff;
      color: $link-hover-color;
    }
  }
}

.hero {
  background-color: #000;
  background-size: cover;
  height: 200px;
}

.content {
  padding-bottom: 15px;
}

.posts li {
  padding-bottom: 15px;
}

.date {
  display: block;
}

.footer {
  background-size: cover;
  position: relative;
  margin-top: -$footer-height;
  height: $footer-height;
  clear: both;
  padding: 25px;

  a {
    padding-left: 2px;
    padding-right: 2px;
  }
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header h1 {
    padding-bottom: 19px;
  }

  .portfolio img {
    margin-top: 25px;
  }
}

@media print {
  body {
    color: #000;
    background: #fff;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 100%;

    &:after {
      content: url(http://chart.googleapis.com/chart?cht=qr&chs=100x100&choe=UTF-8&chld=H&chl=http://mlo.io);
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  img {
    page-break-inside: avoid;
  }

  .nav, .hero, .about img, .footer, #disqus_thread {
    display: none !important;
  }
}
