@font-face {
    font-family: 'socialico';
    src: url('../fonts/socialico.eot');
    src: url('../fonts/socialico.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico.woff') format('woff'),
         url('../fonts/socialico.ttf') format('truetype'),
         url('../fonts/socialico.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
