.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.bundle
.sass-cache
.asset-cache
.ruby-version
.tmp
node_modules
bower_components
build
dist
vendor
tmp
site/_drafts
site/assets
