# vendors
/.bundle
/dist
/node_modules
/vendor

# Jekyll
.jekyll-metadata
.jekyll-cache

# Site specific
/src/_drafts
/src/assets

# Infra
/infra/.terraform
/infra/.tfplan

# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
/.hugo_build.lock
