---
layout: default
title: Home
redirect_from:
  - /blog.html
  - /blog/
---
<div class="posts">
  <h1 class="content-subhead">Recent Posts</h1>

  {% for post in paginator.posts %}
    {% include post.html %}
  {% endfor %}
</div>

<div class="pagination clearfix">
  {% if paginator.previous_page %}
    <a class="pure-button button-secondary" href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pure-button button-secondary float-right" href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</div>
