@import "purecss";
@import "purecss/grids-responsive";
@import "modules/base";
@import "modules/alerts";
@import "modules/button";
@import "modules/utilities";
@import "modules/typography";
@import "modules/sidebar";
@import "modules/post";
@import "modules/syntax";

#layout {
  padding: 0;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.footer {
  padding: 1em 0;
  text-align: center;

  & a, & p {
    color: #ccc;
    font-size: 80%;
  }
}

@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }
}
