@import "poole";
@import "lanyon";

.pull-right {
  float: right;
}

.pull-bottom {
  position: absolute;
  bottom: 0;
}

.social > ul {
  min-height: 3.5rem;
  list-style: none;
  padding-left: 0;

  > li {
    margin-bottom: 0.5rem;
    display: inline-block;

    > a {
      display: inline-block;
      font-size: 1.4rem;
      line-height: 2rem;
      text-align: center;
      width: 2rem;
      height: 2rem;
    }
  }
}
