---
layout: default
---
<h2 class="pb-4 text-base font-bold text-gray-700 dark:text-gray-300">
  {%- if page.type == 'year' -%}
    Posts from {{ page.date | date: "%Y" }}</h2>
  {%- elsif page.type == 'month' -%}
    Posts from {{ page.date | date: "%B %Y" }}
  {%- elsif page.type == 'day' -%}
    Posts from {{ page.date | date: "%B %-d, %Y" }}
  {%- else -%}
    Posts with {{ page.type }} {{ page.title }}
  {%- endif -%}
</h2>

{%- for post in page.posts -%}
  {% include post-list.html %}
{%- endfor -%}
