---
layout: default
---
{%- if page.type == 'year' -%}
<h2 class="page-title">Posts from {{ page.date | date: "%Y" }}</h2>
{%- elsif page.type == 'month' -%}
<h2 class="page-title">Posts from {{ page.date | date: "%B %Y" }}</h2>
{%- elsif page.type == 'day' -%}
<h2 class="page-title">Posts from {{ page.date | date: "%B %-d, %Y" }}</h2>
{%- else -%}
<h2 class="page-title">Posts with {{ page.type }} {{ page.title }}</h2>
{%- endif -%}

{%- for post in page.posts -%}
  {% include post-list.html %}
{%- endfor -%}
