---
layout: default
---
<div class="flex justify-between">
  <h2 class="page-title transition-linear">{{ page.title | default: "Latest Posts" | escape }}</h2>
  <span>
    <a id="show-search" class="text-gray-900 hover:text-blue transition-linear no-underline js-search-hide" href="javascript:;">
      <i class="icon-search"></i> Search
    </a>
    <a id="hide-search" class="hidden text-gray-900 hover:text-blue transition-linear no-underline js-search-show" href="javascript:;">
      <i class="icon-left-circled"></i> Post list
    </a>
  </span>
</div>

<div class="hidden transition-linear js-search-show">
  <div id="search-box"></div>
  <div id="search-hits" class="mt-6"></div>
</div>

<div class="transition-linear js-search-hide">
  {%- for post in site.posts -%}
    {%- assign currentyear = post.date | date: "%Y" -%}
    {%- if currentyear != year -%}
      <h3 class="text-3xl mb-4 {% unless forloop.first %}mt-8{% endunless %}">{{ currentyear }}</h3>
      {% assign year = currentyear %}
    {%- endif -%}
    {% include post-list.html %}
  {%- endfor -%}
</div>

<script src="{{ "assets/search.js" | asset | relative_url }}"></script>
<link rel="stylesheet" href="{{ "assets/search.css" | asset | relative_url }}">
<script>
const search = new BlogSearch({
  appId: "{{ site.algolia.application_id }}",
  apiKey: "{{ site.algolia.search_only_api_key }}",
  indexName: "{{ site.algolia.index_name }}"
});
document.getElementById("show-search").onclick = function() {
  search.show();
  document.querySelector(".page-title").textContent = "Search";
};
document.getElementById("hide-search").onclick = function() {
  search.hide();
  document.querySelector(".page-title").textContent = document.querySelector(".page-title").textContent;
};
</script>
