---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__meta mb-8">
    <h1 class="hidden" itemprop="name headline">{{ page.title | escape }}</h1>
    <time
      class="bg-blue-700 p-2 text-sm text-white"
      datetime="{{ page.date | date_to_xmlschema }}"
      itemprop="datePublished"
    >
      {{- page.date | date: "%B %-d, %Y" -}}
    </time>
    {% unless page.categories == empty %}
    <div class="mt-4 md:ml-2 md:inline">
      <span>Posted in:</span>
      <ul class="inline-block">
        {% for category in page.categories %}
        <li class="inline pl-1">
          <a
            href="/blog/category/{{ category }}"
            class="text-blue-700 no-underline dark:text-blue-500"
          >
            #{{ category }}
          </a>
        </li>
        {% endfor %} {% for tag in page.tags %}
        <li class="pl-1">
          <a
            href="/blog/tag/{{ tag }}"
            class="text-blue-700 no-underline dark:text-blue-500"
          >
            #{{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endunless %}
  </header>

  <!-- prettier-ignore -->
  <div
    class="prose prose-lg mx-auto dark:prose-invert xl:prose-xl"
    itemprop="articleBody"
    {% if page.proofer-ignore %}data-proofer-ignore{% endif %}
  >
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="{{ 'assets/post.js' | asset | relative_url }}"></script>
