---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__meta mb-8">
    <h1 class="hidden" itemprop="name headline">{{ page.title | escape }}</h1>
    <time class="bg-blue-dark text-white text-sm p-2" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{- page.date | date: "%B %-d, %Y" -}}
    </time>
    {% unless page.categories == empty %}
      <div class="post__categories">
        <span>Posted in:</span>
        <ul>
          {% for category in page.categories %}
            <li class="pl-1"><a href="/blog/category/{{ category }}">#{{ category }}</a></li>
          {% endfor %}
          {% for tag in page.tags %}
            <li class="pl-1"><a href="/blog/tag/{{ tag }}">#{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endunless %}
  </header>

  <div class="post__content" itemprop="articleBody">
      {{ content }}
  </div>

  <div class="border-t md:border-b pt-6 pb-2 md:pb-6 md:flex justify-between">
    <div>
      <p>Comments? I'm <a class="no-underline text-blue-dark hover:text-blue transition-linear" href="https://twitter.com/mloberg">@mloberg</a> on Twitter.</p>
    </div>
    <div class="social-sharing mt-3 md:mt-0">
      <span class="mr-1">Share:</span>
      <a href="https://twitter.com/intent/tweet?text={{ page.title | escape }}&url={{ page.url | absolute_url }}&via=mloberg" target="_blank" rel="noopener" aria-label="Tweet this">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <a href="http://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}" target="_blank" rel="noopener" aria-label="Share on Facebook">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" target="_blank" rel="noopener" aria-label="Share on LinkedIn">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="{% asset assets/post.js %}"></script>
