---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__meta mb-8">
    <h1 class="hidden" itemprop="name headline">{{ page.title | escape }}</h1>
    <time class="bg-blue-700 text-white text-sm p-2" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{- page.date | date: "%B %-d, %Y" -}}
    </time>
    {% unless page.categories == empty %}
      <div class="mt-4 md:ml-2 md:inline">
        <span>Posted in:</span>
        <ul class="inline-block">
          {% for category in page.categories %}
            <li class="pl-1 inline">
              <a href="/blog/category/{{ category }}" class="no-underline text-blue-700 dark:text-blue-500">#{{ category }}</a>
            </li>
          {% endfor %}
          {% for tag in page.tags %}
            <li class="pl-1">
              <a href="/blog/tag/{{ tag }}" class="no-underline text-blue-700 dark:text-blue-500">#{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endunless %}
  </header>

  <div class="prose prose-lg xl:prose-xl dark:prose-dark mx-auto" itemprop="articleBody">
      {{ content }}
  </div>

  <div class="border-t md:border-b mt-12 md:mr-12 pt-4 pb-2 md:pb-4 md:flex justify-between">
    <div class="mt-1">
      <p>Comments? I'm <a class="no-underline text-blue-700 dark:text-blue-500" href="https://twitter.com/mloberg">@mloberg</a> on Twitter.</p>
    </div>
    <div class="mt-2 md:mt-0">
      <span class="mr-1">Share:</span>
      <a href="https://twitter.com/intent/tweet?text={{ page.title | escape }}&url={{ page.url | absolute_url }}&via=mloberg" target="_blank" rel="noopener" aria-label="Tweet this">
        <svg class="inline mr-1 h-8 w-8 fill-current text-blue-700 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6S15.302.4 10 .4zm3.905 7.864c.004.082.005.164.005.244 0 2.5-1.901 5.381-5.379 5.381a5.335 5.335 0 0 1-2.898-.85c.147.018.298.025.451.025.886 0 1.701-.301 2.348-.809a1.895 1.895 0 0 1-1.766-1.312 1.9 1.9 0 0 0 .853-.033 1.892 1.892 0 0 1-1.517-1.854v-.023c.255.141.547.227.857.237a1.89 1.89 0 0 1-.585-2.526 5.376 5.376 0 0 0 3.897 1.977 1.891 1.891 0 0 1 3.222-1.725 3.797 3.797 0 0 0 1.2-.459 1.9 1.9 0 0 1-.831 1.047 3.799 3.799 0 0 0 1.086-.299 3.834 3.834 0 0 1-.943.979z"/>
        </svg>
      </a>
      <a href="http://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}" target="_blank" rel="noopener" aria-label="Share on Facebook">
        <svg class="inline mr-1 h-8 w-8 fill-current text-blue-700 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6S15.302.4 10 .4zm2.274 6.634h-1.443c-.171 0-.361.225-.361.524V8.6h1.805l-.273 1.486H10.47v4.461H8.767v-4.461H7.222V8.6h1.545v-.874c0-1.254.87-2.273 2.064-2.273h1.443v1.581z"/>
        </svg>
      </a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" target="_blank" rel="noopener" aria-label="Share on LinkedIn">
        <svg class="inline mr-1 h-8 w-8 fill-current text-blue-700 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6S15.302.4 10 .4zM7.65 13.979H5.706V7.723H7.65v6.256zm-.984-7.024c-.614 0-1.011-.435-1.011-.973 0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973zm8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355-.537 0-.856.371-.997.728-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01 1.279 0 2.238.857 2.238 2.699v3.699z"/>
        </svg>
      </a>
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="{{ "assets/post.js" | asset | relative_url }}"></script>
