---
---
@import url('font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
@import "strata";

.outdated-post {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-left: solid 6px #faebcc;
  font-style: italic;
  margin: 0 0 _size(element-margin) 0;
  padding: 0.5em 1.5em;

  p {
    margin: 0;
  }
}

#header {
  strong {
    display: block;
  }

  br {
    content: ' ';
  }
}

@include breakpoint('<=small') {
  .post-excerpt {
    display: none;
  }
}

.embed-slides {
  margin-bottom: 1em;
}

// Credit: Nicolas Gallagher and SUIT CSS.
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed-responsive-21by9 {
  &::before {
    padding-top: percentage(9 / 21);
  }
}

.embed-responsive-16by9 {
  &::before {
    padding-top: percentage(9 / 16);
  }
}

.embed-responsive-4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}

.embed-responsive-1by1 {
  &::before {
    padding-top: percentage(1 / 1);
  }
}
