* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.img-center {
  display: block;
  margin: 0 auto;
}
