<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Matthew Loberg" />
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{ site.description }}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- build:css {{ site.baseurl }}/assets/styles/main.min.css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css">
    <!-- endbuild -->

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
    <div class="wrap">
      <div class="container">
        <div class="header">
          <h1 class="pull-left-sm text-center-xs"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
          <ul class="nav nav-pills pull-right-sm">
            <li><a href="{{ site.baseurl }}/index.html">Blog</a></li>
            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
            <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
          </ul>
        </div>
      </div>

      <div class="hero" style="background-image: url({{ site.baseurl }}/assets/images/{{ page.header }});"></div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <div class="footer" style="background-image: url({{ site.baseurl }}/assets/images/{{ page.header }});">
      <div class="container">
        <div class="col-sm-7">
          <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} Matthew Loberg</p>
        </div>
        <div class="col-sm-5">
          <p class="text-center">
            <a href="https://github.com/mloberg"><i class="fa fa-github fa-2x fa-inverse"></i></a>
            <a href="http://twitter.com/mloberg"><i class="fa fa-twitter fa-2x fa-inverse"></i></a>
            <a href="http://www.last.fm/user/mloberg"><i class="fa fa-lastfm-square fa-2x fa-inverse"></i></a>
            <a href="https://soundcloud.com/mloberg"><i class="fa fa-soundcloud fa-2x fa-inverse"></i></a>
            <a href="https://instagram.com/mloberg/"><i class="fa fa-instagram fa-2x fa-inverse"></i></a>
          </p>
        </div>
      </div>
    </div>

  <script>
  var _gaq = [['_setAccount', 'UA-9585810-8'], ['_trackPageview']];
  (function(d, t) {var g = d.createElement(t),s = d.getElementsByTagName(t)[0];g.src = '//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g, s);}(document, 'script'));
  </script>
  </body>
</html>
