---
layout: default
---
<div class="row blog">
	<div class="span12">
		<h3>{{ page.title }}</h3>
		<p><small>{{page.date | date: "%b. %e, %Y" }}</small></p>
		{{content}}
		<div id="disqus_thread"></div>
		<script type="text/javascript">
    		var disqus_shortname = 'mattwritescode';
			(function(){
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>