<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="Matthew Loberg, web developer, PHP, MySQL, server administration, Minnesota, Minneapolis" />
	<meta name="description" content="Matthew Loberg is a web developer from Minneota specializing in PHP, MySQL, and server administration." />
	<meta name="author" content="Matthew Loberg" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>Matthew Loberg{% if page.title %} - {{ page.title }}{% endif %}</title>
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" />
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" />
	<!--[if IE]>
		<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" />
	<![endif]-->
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span12">
			<h1>MATTHEW LOBERG</h1>
			<h2>Web Developer from Minnesota</h2>
		</div>
	</div>
	<div class="row main">
		<div class="row">
			<div class="span12 nav" id="nav">
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li><a href="/about.html">About</a></li>
					<li><a href="/projects/index.html">Projects</a></li>
					<li><a href="/blog/index.html">Blog</a></li>
					<li><a href="/music.html">Music</a></li>
				</ul>
				<select>
					<option value="#">Menu</option>
				</select>
			</div>
		</div>
		<div class="hr"></div>
		{{content}}
	</div>
</div>
<script>
var _gaq = [['_setAccount', 'UA-9585810-8'], ['_trackPageview']];
(function(d, t) {var g = d.createElement(t),s = d.getElementsByTagName(t)[0];g.src = '//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g, s);}(document, 'script'));
</script>
<script src="/javascripts/mootools.min.js"></script>
<script src="/javascripts/main.min.js"></script>
<script>
window.addEvent("domready",function(){
	var site = new Site();
	{{ page.code }}
});
</script>
</body>
</html>